<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/image-styles.css">
    <title>Dogs</title>
</head>
<body>
    <h1>Dogs Section</h1>
    <div class="gallery">
        <a target="_blank" href="/images/dog-1.jpg">
            <img src="/images/dog-1.jpg" alt="Dog 1" width="600" height="400">
        </a>
        <div class="desc">Add a description of the image here</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="/images/dog-2.jpg">
            <img src="/images/dog-2.jpg" alt="Dog 2" width="600" height="400">
        </a>
        <div class="desc">Add a description of the image here</div>
    </div>
</body>
</html>